.reviews {
    padding: 5rem 0;
    display: grid;
    grid-column-gap: 6rem;
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;

    &__card {
        width: 30rem;
        padding: 4rem;
        background-color: #f7f7f7;
        border-radius: 3px;
        -webkit-box-shadow: 0 1.5rem 4rem $box-shadow-dark;
        box-shadow: 0 1.5rem 4rem $box-shadow-dark;
        scroll-snap-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &:before,
    &:after {
        content: '';
        width: 2rem;
    }

    &__avatar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2rem;

        &-img {
            height: 4.5rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }
    }

    &__user {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__text {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-style: italic;
        font-weight: 400;
    }
    &__rating {
        margin-top: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    &__star {
        height: 2rem;
        width: 2rem;
        margin-right: 1px;

        &--active {
            fill: $color-primary;
        }

        &--inactive {
            fill: #bbb;
        }
    }

    @include respond(tab-land) {
        &__card {
            width: 40rem;
            height: 30rem;
        }

        &__avatar {
            &-img {
                height: 6rem;
            }
        }

        &__user {
            font-size: 2rem;
        }

        &__text {
            font-size: 1.8rem;
        }

        &__star {
            height: 3rem;
            width: 3rem;
        }
    }
}
