.user-view {
    background-color: $color-white;
    max-width: 120rem;
    margin: 0 auto;
    min-height: 100vh;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    &__menu {
        -webkit-box-flex: 32rem;
        -ms-flex: 32rem 0 0px;
        flex: 32rem 0 0;
        background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from($color-primary-light),
            to($color-primary-dark)
        );
        background-image: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
        );
        padding: 4rem 0;
        transition: 0.2s ease;

        @include respond(tab-land) {
            -webkit-box-flex: 28rem;
            flex: 28rem 0 0;
        }
    }
    &__content {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 7rem 0;
        transition: 1.2s ease;
    }
    &__form-container {
        max-width: 68rem;
        margin: 0 auto;
        padding: 0 8rem;
    }

    @include respond(tab-port) {
        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 0;
            flex: 0;
            & > * {
                display: none;
            }
        }

        .side-nav a:link,
        .side-nav a:active {
            font-size: 2rem;
        }

        #navi-toggle:checked ~ &__content {
            width: 0;

            & > * {
                display: none;
            }
        }

        #navi-toggle:checked ~ &__menu {
            flex: 100%;

            & > * {
                display: block;
            }
        }
    }

    @include respond(phone) {
        & > * {
            text-align: center;
        }
    }
}

.admin-nav {
    margin-top: 5.5rem;
}
.admin-nav__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
}
