.overview-box {
    & {
        background-color: $color-white-2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    &__group:not(:last-child) {
        margin-bottom: 7rem;
    }

    &__detail {
        font-size: 1.5rem;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        svg {
            margin-right: 1.25rem;
        }

        &:not(:last-child) {
            margin-bottom: 2.25rem;
        }
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-primary;
    }

    &__label {
        font-weight: 700;
        margin-right: 2.25rem;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    &__text {
        text-transform: capitalize;
    }

    &__img {
        border-radius: 50%;
        height: 3.5rem;
        margin-right: 1.25rem;
    }

    @include respond(tab-land) {
        &__detail {
            font-size: 1.8rem;
        }

        &__icon {
            height: 3rem;
            width: 3rem;
        }

        &__label {
            font-size: 1.8rem;
        }

        &__img {
            height: 4.5rem;
        }
    }
}

.section-header {
    position: relative;
    height: 38vw;

    @include respond(tab-land) {
        height: 40vw;
    }
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
    -webkit-clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
}

.section-pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clip-path: polygon(
        0 $section-rotate,
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
    -webkit-clip-path: polygon(
        0 #{$section-rotate},
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
    margin-top: calc(0px - #{$section-rotate});
    position: relative;
    z-index: 1000;
}

.picture-box__img {
    & {
        display: block;
        width: 100%;
        height: 110%;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &--1 {
        padding-top: 15%;
    }
    &--2 {
        padding-bottom: 15%;
    }
    &--3 {
        padding-bottom: 27%;
    }
}

.section-description {
    background-color: #fcfcfc;
    margin-top: calc(0px - #{$section-rotate});
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    & > * {
        padding: 0 8vw;
        padding-top: 14vw;
        padding-bottom: calc(1vw + #{$section-rotate});
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}

.description-box {
    & .description {
        margin-right: 5rem;
    }

    & .description__text {
        font-size: 1.7rem;

        @include respond(tab-land) {
            font-size: 1.9rem;
        }
    }

    & .description__text:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.section-map {
    position: relative;
    height: 65rem;
    margin-top: calc(0px - #{$section-rotate});
}

.section-reviews {
    margin-top: calc(0px - #{$section-rotate});
    padding: calc(5rem + #{$section-rotate}) 0;
    position: relative;
    z-index: 1000;
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from($color-primary-light),
        to($color-primary-dark)
    );
    background: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
    );
    clip-path: polygon(
        0 #{$section-rotate},
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
    -webkit-clip-path: polygon(
        0 #{$section-rotate},
        100% 0,
        100% calc(100% - #{$section-rotate}),
        0 100%
    );
}

.section-cta {
    margin-top: calc(0px - #{$section-rotate});
    padding: 3rem;
    padding-bottom: 11rem;
    padding-top: calc(15rem + #{$section-rotate});
    background-color: $color-white-2;
}
