extends emailBase

block content    
    // CONTENT
    p Hi #{firstName},
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
    p(This route is not yet implemented).
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Upload user photo
    p If you didn't forget your password please ignore this email!