.header {
    background-color: #444;
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &__logo {
        img {
            height: 3.5rem;
        }
    }

    &__hero {
        height: 100%;
        &-img {
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;
            -o-object-position: 50% 25%;
            object-position: 50% 25%;
        }

        &-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(
                linear,
                left top,
                right bottom,
                from($color-primary-light),
                to($color-primary-dark)
            );
            background-image: linear-gradient(
                to right bottom,
                $color-primary-light,
                $color-primary-dark
            );
            opacity: 0.85;
        }
    }

    @include respond(tab-land) {
        height: 8em;
        &__logo {
            img {
                height: 4rem;
            }
        }
    }

    @include respond(tab-port) {
        display: grid;
        grid-template-areas:
            'logo logo'
            'tours tours'
            'user user';
        grid-template-columns: auto;
        grid-template-rows: auto;
        height: auto;

        .nav--tours {
            grid-area: tours;
        }
        .header__logo {
            grid-area: logo;
            margin: 3rem 0 1rem 0;
            cursor: pointer;
        }
        .nav--user {
            grid-area: user;
        }

        .nav--tours,
        .nav--user {
            opacity: 0;
            pointer-events: none;
            width: 0;
            height: 0;
            transition: 0.1s ease;

            & > * {
                display: none;
            }
        }

        #nav__checkbox:checked ~ .nav--tours,
        #nav__checkbox:checked ~ .nav--user {
            opacity: 1;
            pointer-events: auto;
            width: auto;
            height: auto;
        }

        #nav__checkbox:checked ~ .nav--tours {
            margin-bottom: 1rem;
            & > * {
                display: block;
            }
        }

        #nav__checkbox:checked ~ .nav--user > * {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    @include respond(phone) {
        .header__logo {
            margin: 2rem 0 1rem 0;
        }
    }
}
