// Colors
$color-primary: #55c57a;
$color-primary-light: #7dd56f;
$color-primary-dark: #28b487;

$color-error-light: #ff7730;
$color-error-dark: #eb4d4b;

$color-white: #fff;
$color-white-2: #f7f7f7;
$color-gray-dark: #777;

$section-rotate: 9vw;

//Font Sizes
$default-font-size: 1.6rem;

//Box Shadow

$box-shadow-dark: rgba(0, 0, 0, 0.15);
