.heading {
    &-box {
        position: absolute;
        bottom: 13vw;
        left: 50%;
        top: 35%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &__group {
            color: #f7f7f7;
            margin-top: 3rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
    }

    &__detail {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-shadow: 0 0.5rem 2rem $box-shadow-dark svg {
            margin-right: 0.8rem;
        }

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: currentColor;
        -webkit-filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
    }
}
